body {
    text-align: left;
    font-family:Georgia;
    background-color: black;
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

a {
    cursor: help;
    color:blueviolet;
}

strong {
    text-decoration: underline;
}

s1 {
    color: white;
}