body {
    text-align: center;
}

a {
    text-decoration: none;
    cursor: help;
}

strong {
    text-decoration-line: underline;
}

fade {
    font-size: xx-small;
}

h0 {
    font-size: xx-large;
}